In [1]:
import numpy as np
import pandas as pd
import scipy as sns
import matplotlib as mpl
%matplotlib inline
import matplotlib.pyplot as plt
import seaborn as sns
from matplotlib.pyplot import figure
mpl.rc('axes', labelsize=14)
mpl.rc('xtick', labelsize=12)
mpl.rc('ytick', labelsize=12)

from tqdm import tqdm

from pandas.api.types import CategoricalDtype

np.random.seed(7)

In [2]:
train_loc = pd.read_csv('/home/felix/Downloads/train_locations.csv')
train_cus = pd.read_csv('/home/felix/Downloads/train_customers.csv', parse_dates=['created_at', 'updated_at'])
test_loc = pd.read_csv('/home/felix/Downloads/test_locations.csv')
test_cus = pd.read_csv('/home/felix/Downloads/test_customers.csv', parse_dates=['created_at', 'updated_at'])
vendor = pd.read_csv('/home/felix/Downloads/vendors.csv', parse_dates=['created_at', 'updated_at'])

In [3]:
train_loc = train_loc.drop(columns=['location_type'])
train_cus = train_cus.drop(columns=['language', 'dob', 'created_at', 'updated_at'])
train_cus = train_cus.drop_duplicates()

In [3]:
test_loc = test_loc.drop(columns=['location_type'])
test_cus = test_cus.drop(columns=['language', 'dob', 'created_at', 'updated_at'])
test_cus = test_cus.drop_duplicates()

In [5]:
vendor = vendor[['id', 'latitude', 'longitude', 'vendor_category_en', 'delivery_charge', 'serving_distance', 'is_open', 'prepration_time', 'discount_percentage', 'status', 'verified', 'rank', 'vendor_rating', 'primary_tags', 'vendor_tag_name']]

In [6]:
train_loc.head(2)

  customer_id  location_number  latitude  longitude
0     02SFNJH                0  1.682392 -78.789737
1     02SFNJH                1  1.679137   0.766823

In [7]:
train_cus.head(2)

  akeed_customer_id gender  status  verified
0           TCHWPBT   Male       1         1
1           ZGFSYCZ   Male       1         1

In [9]:
test_loc.head(2)

  customer_id  location_number    latitude  longitude
0     Z59FTQD                0  126.032278  -9.106019
1     0JP29SK                0    0.278709 -78.623847

In [10]:
test_cus.head(2)

  akeed_customer_id gender  status  verified
0           ICE2DJP   Male       1         1
1           FWNUI71   Male       1         1

In [5]:
#train_cus = train_cus.rename({'akeed_customer_id':'CID'}, axis=1)
#train_loc = train_loc.rename({'customer_id': 'CID', 'location_number':'LOC_NUM'}, axis=1)
test_cus = test_cus.rename({'akeed_customer_id':'CID'}, axis=1)
test_loc = test_loc.rename({'customer_id': 'CID', 'location_number':'LOC_NUM'}, axis=1)

In [12]:
#change column name id to VENDOR_ID
vendor = vendor.rename({'id':'VENDOR_ID'}, axis=1)

In [6]:
#train = pd.merge(train_cus, train_loc, on='CID', how='left')
test = pd.merge(test_cus, test_loc, on='CID', how='left')

In [7]:
test.head()

       CID gender  status  verified  LOC_NUM    latitude  longitude
0  ICE2DJP   Male       1         1        0  -96.407538 -67.197291
1  ICE2DJP   Male       1         1        1    0.038654 -78.595477
2  ICE2DJP   Male       1         1        2  -95.106078  43.684151
3  ICE2DJP   Male       1         1        3  -96.407677  43.557974
4  ICE2DJP   Male       1         1        4  204.621247  44.091518

In [10]:
test['CID'] = test['CID'].astype(str)
test['LOC_NUM'] = test['LOC_NUM'].astype(str)

test['CID X LOC_NUM'] = test['CID'] +' X '+ test['LOC_NUM']

In [12]:
test['CID X LOC_NUM'].value_counts()

4X2Y51H X 0    2
II7YY1M X 0    2
3DDZLWQ X 0    2
DZORPPZ X 0    2
WG3CZDG X 0    2
YM0OIRI X 0    2
JKC18K2 X 0    2
DSJRR66 X 0    2
JGRG3RQ X 0    2
JKC18K2 X 1    2
P4MAWAE X 0    2
S710N46 X 0    1
6TVBE81 X 0    1
OFS539H X 1    1
PLMC7SW X 1    1
BBS64M2 X 2    1
U0VCLBQ X 0    1
6M5V4I0 X 0    1
3QDTY60 X 1    1
FSW7XL3 X 2    1
KZJ1C5H X 0    1
GAN2SJL X 2    1
U8YEOSJ X 0    1
I5MET4E X 2    1
7FU4YQW X 0    1
DBNQ2HV X 0    1
KR3L0HZ X 6    1
OCKTO2S X 0    1
74LFNOD X 0    1
U1EM2GX X 1    1
              ..
3ONECIY X 0    1
YY0KWRT X 1    1
XEABV83 X 2    1
MJKN377 X 1    1
AE1BU9M X 0    1
2S1ML6R X 0    1
KX4GZA8 X 0    1
5M7PKEC X 0    1
WBTJRRE X 3    1
GQJC55X X 0    1
KYBEATH X 2    1
98M870X X 3    1
2Z0FYZR X 0    1
I9OKAD8 X 0    1
2X2WNVD X 1    1
TGKLX0H X 0    1
MPE6PHI X 0    1
A26YRQS X 0    1
M1AAO9K X 0    1
Y7310WG X 2    1
NE6TOMQ X 0    1
ZQZYK38 X 0    1
PL8MCXW X 0    1
229EWTU X 0    1
4ZISVAF X 0    1
W1ZIO7A X 0    1
9JSO3O4 X 1    1
HTQCML2 X 0    1
OXOAABX X 0    1
8T0Y530 X 6    1
Name: CID X LOC_NUM, Length: 16317, dtype: int64

In [17]:
print(train['gender'].value_counts())
print('----------------------------------------')
print(train['status'].value_counts())
print('----------------------------------------')
print(train['verified'].value_counts())
print('----------------------------------------')
print(train['LOC_NUM'].value_counts())

Male          34540
male           3394
Female         3040
Female           26
Male             20
Female            6
Female            5
                  3
?????             2
Female            2
Name: gender, dtype: int64
----------------------------------------
1    58037
0       52
Name: status, dtype: int64
----------------------------------------
1    56372
0     1717
Name: verified, dtype: int64
----------------------------------------
0     34575
1     13469
2      5356
3      2459
4      1125
5       489
6       240
7       127
8        75
9        51
10       33
11       20
12       14
13       12
14       12
15        7
16        5
17        4
18        4
19        2
28        1
20        1
21        1
22        1
23        1
24        1
25        1
26        1
27        1
29        1
Name: LOC_NUM, dtype: int64

In [18]:
train['gender'] = train['gender'].replace(['Male', 'male', 'Male ','Male  ', '  ', '?????'], 'Male')
train['gender'] = train['gender'].replace(['Female', 'Female ', 'Female  ', 'Female   ', 'Female    '], 'Female')

In [19]:
train['gender'] = train['gender'].fillna('Male')

In [21]:
train.shape

(58089, 7)

In [20]:
print(train['gender'].value_counts())

Male      55010
Female     3079
Name: gender, dtype: int64

In [ ]:
#plot latitude and logitude [hue=status, verified, gender, location_number
#                            size=dob]

In [22]:
train.head()

       CID gender  status  verified  LOC_NUM   latitude  longitude
0  TCHWPBT   Male       1         1        0 -96.407538 -67.197291
1  TCHWPBT   Male       1         1        1 -96.645619 -67.169154
2  TCHWPBT   Male       1         1        2  -0.128673 -78.575702
3  ZGFSYCZ   Male       1         1        0  -0.175558 -78.570161
4  ZGFSYCZ   Male       1         1        1   0.191105 -78.613494

In [23]:
test.head()

       CID gender  status  verified  LOC_NUM    latitude  longitude
0  ICE2DJP   Male       1         1        0  -96.407538 -67.197291
1  ICE2DJP   Male       1         1        1    0.038654 -78.595477
2  ICE2DJP   Male       1         1        2  -95.106078  43.684151
3  ICE2DJP   Male       1         1        3  -96.407677  43.557974
4  ICE2DJP   Male       1         1        4  204.621247  44.091518

In [21]:
train = train.assign(key=1).merge(vendors.assign(key=1), on='key').drop('key', axis=1)
test = test.assign(key=1).merge(vendors.assign(key=1), on='key').drop('key', axis=1)

  customer_id  location_number    latitude  longitude
0     Z59FTQD                0  126.032278  -9.106019
1     0JP29SK                0    0.278709 -78.623847
2     0JP29SK                1    0.124485 -78.605621
3     0JP29SK                2   -0.113891 -78.577449
4     0JP29SK                3   -0.848796   0.136726

In [23]:
print(train.shape, test.shape)

In [27]:
test['location_number_obj'] = test['location_number'].astype(str)
test['id_obj'] = test['id'].astype(str)
train['location_number_obj'] =

In [28]:
test['CID X LOC_NUM X VENDOR'] = test['customer_id'] +' X '+ test['location_number_obj'] +' X '+ test['id_obj']
train['CID X LOC_NUM X VENDOR'] = train['customer_id'] +' X '+ train['location_number_obj'] +' X '+ train['id_obj']

  akeed_customer_id gender     dob  status  verified
0           ICE2DJP   Male     NaN       1         1
1           FWNUI71   Male     NaN       1         1
2           LRX7BCH   Male     NaN       1         1
3           D96DHMD   Male     NaN       1         1
4           88Q8Y5V   Male  1997.0       1         1

In [29]:
test = pd.merge(test, submission, how='outer', on=['CID X LOC_NUM X VENDOR'])

,id,authentication_id,latitude,longitude,vendor_category_en,vendor_category_id,delivery_charge,serving_distance,is_open,OpeningTime,...,open_close_flags,vendor_tag,vendor_tag_name,one_click_vendor,country_id,city_id,created_at,updated_at,device_type,display_orders
0,4,118597.0,-0.588596,0.754434,Restaurants,2.0,0.0,6.0,1.0,11:00AM-11:30PM,...,1.0,"2,4,5,8,91,22,12,24,16,23","Arabic,Breakfast,Burgers,Desserts,Free Deliver...",Y,1.0,1.0,2018-01-30 14:42:04,2020-04-07 15:12:43,3,1
1,13,118608.0,-0.471654,0.744470,Restaurants,2.0,0.7,5.0,1.0,08:30AM-10:30PM,...,1.0,"4,41,51,34,27,15,24,16,28","Breakfast,Cakes,Crepes,Italian,Pasta,Pizzas,Sa...",Y,1.0,1.0,2018-05-03 12:32:06,2020-04-05 20:46:03,3,1
2,20,118616.0,-0.407527,0.643681,Restaurants,2.0,0.0,8.0,1.0,08:00AM-10:45PM,...,1.0,"4,8,91,10","Breakfast,Desserts,Free Delivery,Indian",Y,1.0,1.0,2018-05-04 22:28:22,2020-04-07 16:35:55,3,1
3,23,118619.0,-0.585385,0.753811,Restaurants,2.0,0.0,5.0,1.0,10:59AM-10:30PM,...,1.0,"5,8,30,24","Burgers,Desserts,Fries,Salads",Y,1.0,1.0,2018-05-06 19:20:48,2020-04-02 00:56:17,3,1
4,28,118624.0,0.480602,0.552850,Restaurants,2.0,0.7,15.0,1.0,11:00AM-11:45PM,...,1.0,5,Burgers,Y,1.0,1.0,2018-05-17 22:12:38,2020-04-05 15:57:41,3,1

In [31]:
print(test.shape, submission.shape, train.shape)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 59 columns):
id                      100 non-null int64
authentication_id       100 non-null float64
latitude                100 non-null float64
longitude               100 non-null float64
vendor_category_en      100 non-null object
vendor_category_id      100 non-null float64
delivery_charge         100 non-null float64
serving_distance        100 non-null float64
is_open                 100 non-null float64
OpeningTime             91 non-null object
OpeningTime2            91 non-null object
prepration_time         100 non-null int64
commission              85 non-null float64
is_akeed_delivering     100 non-null object
discount_percentage     100 non-null float64
status                  100 non-null float64
verified                100 non-null int64
rank                    100 non-null int64
language                85 non-null object
vendor_rating           100 non-null float64
sunday_from_time1       99 non-null object
sunday_to_time1         99 non-null object
sunday_from_time2       42 non-null object
sunday_to_time2         42 non-null object
monday_from_time1       100 non-null object
monday_to_time1         100 non-null object
monday_from_time2       42 non-null object
monday_to_time2         42 non-null object
tuesday_from_time1      99 non-null object
tuesday_to_time1        99 non-null object
tuesday_from_time2      41 non-null object
tuesday_to_time2        41 non-null object
wednesday_from_time1    100 non-null object
wednesday_to_time1      100 non-null object
wednesday_from_time2    42 non-null object
wednesday_to_time2      42 non-null object
thursday_from_time1     99 non-null object
thursday_to_time1       99 non-null object
thursday_from_time2     42 non-null object
thursday_to_time2       42 non-null object
friday_from_time1       96 non-null object
friday_to_time1         96 non-null object
friday_from_time2       45 non-null object
friday_to_time2         45 non-null object
saturday_from_time1     98 non-null object
saturday_to_time1       98 non-null object
saturday_from_time2     42 non-null object
saturday_to_time2       42 non-null object
primary_tags            77 non-null object
open_close_flags        100 non-null float64
vendor_tag              97 non-null object
vendor_tag_name         97 non-null object
one_click_vendor        100 non-null object
country_id              100 non-null float64
city_id                 100 non-null float64
created_at              100 non-null object
updated_at              100 non-null object
device_type             100 non-null int64
display_orders          100 non-null int64
dtypes: float64(14), int64(6), object(39)
memory usage: 46.2+ KB

In [ ]:
all_services = orders['CID X LOC_NUM X VENDOR'].values.tolist()
train['target']= train['CID X LOC_NUM X VENDOR'].isin(all_services).astype(int).values

In [ ]:
test.drop('target', axis=1, inplace =True)

In [ ]:
print(test.shape,train.shape)

In [6]:
vendor['is_open'].unique()

array([1., 0.])

In [ ]:
train['location_number'] = train['location_number'].astype('category')
train['gender'] = train['gender'].astype('category')
vendor['vendor_category_en'] = train['vendor_category_en'].astype('category')

In [ ]:
cat_type = CategooricalDtype(categories=['0', '1'], ordered=True)
cat_type2 = CategoricalDtype(categories=['1', '11'], ordered=True)

train['status'] = train['status'].astype(cat_type)
train['status'] = train['status'].astype(cat_type)
vendor['status'] = vendor['status'].astype(cat_type)
vendor['verified'] = vendor['verified'].astype(cat_type)
vendor['rank'] = vendor['rank'].astype(cat_type)