In [1]:
import numpy as np
import pandas as pd
import scipy

In [2]:
train_loc = pd.read_csv('/home/felix/Downloads/train_locations.csv')
train_cus = pd.read_csv('/home/felix/Downloads/train_customers.csv')

In [4]:
train_loc.head()

  customer_id  location_number location_type  latitude  longitude
0     02SFNJH                0           NaN  1.682392 -78.789737
1     02SFNJH                1           NaN  1.679137   0.766823
2     02SFNJH                2           NaN -0.498648   0.661241
3     RU43CXC                0          Home  0.100853   0.438165
4     BDFBPRD                0           NaN  2.523125   0.733464

In [6]:
train_loc.shape

(59503, 5)

In [5]:
train_loc['customer_id'].value_counts()

4Y0K8NQ    30
NETYQ1C    26
5EP9F62    20
YYKZN0F    19
4UZKXW2    19
YQC2R6H    17
H0KPCSI    16
9VJZUWB    16
6FWP16A    15
V2A9RXW    15
J1RDTU4    15
JOZL0GS    15
ZGFSYCZ    15
DCUPX4B    13
X58BXH0    13
UO5X10D    12
2WGF9T2    12
MVEEI4Z    12
4AU73XO    12
REIAABC    12
YKZP6VQ    12
2TWWD7O    11
1Z2P3S8    11
ZJV1ZAI    11
5CSKHZ9    11
HJFTTGW    11
WDNFLP6    11
SCB2QV8    11
J9XJPG4    11
JNVC68C    11
           ..
IRXWD1Q     1
EUES7YH     1
6E27JP6     1
CTGKNUM     1
6ECRN93     1
S9MKEOL     1
JCO94C4     1
YSW87AO     1
3SSJVDR     1
RAJWAHK     1
X1ZB4M3     1
R86FLOH     1
LVU8I9E     1
5KKG2EF     1
CRISEY8     1
UWFBB4I     1
D0HUF1V     1
KILP3VE     1
1GP2RI8     1
9JJ8SUC     1
P4K4JCX     1
1HA23F4     1
ZCHR8RT     1
U66H61H     1
Z0M4U27     1
Z6JQ8F7     1
UCBRJWP     1
414EKPJ     1
5D5U4SN     1
CNQSTMD     1
Name: customer_id, Length: 35400, dtype: int64

In [7]:
train_loc['location_number'].value_counts()

0     35400
1     13798
2      5488
3      2519
4      1153
5       504
6       246
7       128
8        76
9        52
10       34
11       21
12       15
13       13
14       13
15        8
16        6
17        5
18        5
19        3
20        2
21        2
22        2
23        2
24        2
25        2
28        1
26        1
27        1
29        1
Name: location_number, dtype: int64

In [8]:
train_loc['location_type'].value_counts()

Home     19703
Work      6441
Other     6150
Name: location_type, dtype: int64

In [9]:
train_loc.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 59503 entries, 0 to 59502
Data columns (total 5 columns):
customer_id        59503 non-null object
location_number    59503 non-null int64
location_type      32294 non-null object
latitude           59497 non-null float64
longitude          59497 non-null float64
dtypes: float64(2), int64(1), object(2)
memory usage: 2.3+ MB

In [22]:
#check for duplicate item
duplicatedtrain_loc = train_loc[train_loc.duplicated()]
print(duplicatedtrain_loc)
#remove duplicate items

Empty DataFrame
Columns: [customer_id, location_number, location_type, latitude, longitude]
Index: []

In [10]:
train_cus.shape

(34674, 8)

In [11]:
train_cus.head()

,akeed_customer_id,gender,dob,status,verified,language,created_at,updated_at
0,TCHWPBT,Male,NaN,1,1,EN,2018-02-07 19:16:23,2018-02-07 19:16:23
1,ZGFSYCZ,Male,NaN,1,1,EN,2018-02-09 12:04:42,2018-02-09 12:04:41
2,S2ALZFL,Male,NaN,0,1,EN,2018-03-14 18:31:43,2018-03-14 18:31:42
3,952DBJQ,Male,NaN,1,1,EN,2018-03-15 19:47:07,2018-03-15 19:47:07
4,1IX6FXS,Male,NaN,1,1,EN,2018-03-15 19:57:01,2018-03-15 19:57:01

In [12]:
train_cus['akeed_customer_id'].value_counts()

0FOCFVI    17
H0GVNAK    16
XFQVCSZ     9
U0SUJYS     7
QT5BMDP     7
F30RUYT     7
UES1IFF     6
SKX8JZX     6
NGNN39R     5
D3JSDXT     5
NXV2U06     5
L8ABABT     5
JNI5ALO     4
3UC3NU9     4
4EMI26T     4
WFQZOHO     4
6DJZ3DZ     4
JY3XXPT     3
99CH6NL     3
XHXLORT     3
NVEH79U     3
F22EU83     3
UZQX5WL     3
NZH50BZ     3
EPLRX8U     3
MB89VR0     3
6DK062U     3
IM7ZTS8     3
BS11M4N     3
6ECRN93     3
           ..
518C5JS     1
I4IXJJB     1
8ALMNML     1
OLX34VM     1
AY8UIEO     1
DLAVWDY     1
D2OGR0S     1
HXPARLE     1
RE5355H     1
UVGFPUV     1
SF3G1G8     1
YFXDF6L     1
ST8TBDS     1
2J75P4Q     1
TKL8OGK     1
KYYM6T7     1
WCR9E8P     1
8RJA4Q9     1
S81NOL0     1
RXJQ5K6     1
ZFCQ1MO     1
96FE57O     1
Q2F8KAV     1
GRR8LGC     1
ZSIGRGL     1
G7RH58Y     1
06N72EV     1
0V6H7VN     1
K4PECXV     1
3L83PER     1
Name: akeed_customer_id, Length: 34523, dtype: int64

In [14]:
train_cus['gender'].value_counts()

Male          17815
male           2914
Female         1761
Female           13
Male              9
Female            2
Female            2
?????             2
                  1
Female            1
Name: gender, dtype: int64

In [15]:
train_cus['dob'].value_counts()

1970.0    255
1999.0    161
2000.0    158
1998.0    149
1996.0    140
1993.0    139
1997.0    131
1994.0    126
2001.0    123
1995.0    121
1990.0    120
1989.0    117
2019.0    116
1991.0    116
1992.0    101
1988.0     91
1987.0     81
1985.0     80
2020.0     69
1986.0     67
1983.0     51
1984.0     50
1980.0     48
2002.0     46
1982.0     39
2003.0     37
1981.0     36
2004.0     34
2005.0     31
1979.0     28
         ...
1972.0     10
1973.0      9
1974.0      8
1971.0      8
1967.0      6
2006.0      6
2007.0      4
1900.0      4
1964.0      4
1956.0      2
2009.0      2
1957.0      2
2016.0      2
2008.0      2
2562.0      1
1934.0      1
1953.0      1
1955.0      1
1966.0      1
1398.0      1
1968.0      1
676.0       1
2531.0      1
1888.0      1
2012.0      1
2013.0      1
2014.0      1
2015.0      1
2017.0      1
1.0         1
Name: dob, Length: 65, dtype: int64

In [16]:
train_cus['status'].value_counts()

1    34639
0       35
Name: status, dtype: int64

In [17]:
train_cus['verified'].value_counts()

1    33167
0     1507
Name: verified, dtype: int64

In [18]:
train_cus['language'].value_counts()

EN    21099
Name: language, dtype: int64

In [24]:
#check for duplicate items
duplitrain_cus = train_cus[train_cus.duplicated(['akeed_customer_id', 'gender', 'dob', 'status', 'verified', 'language'])]
print(duplitrain_cus)
#remove duplicate items
train_

      akeed_customer_id gender  dob  status  verified language  \
23684           JY3XXPT   male  NaN       1         0      NaN
23722           6DK062U   male  NaN       1         0      NaN
23789           H0GVNAK   male  NaN       1         0      NaN
23790           H0GVNAK   male  NaN       1         0      NaN
23791           H0GVNAK   male  NaN       1         0      NaN
23792           H0GVNAK   male  NaN       1         0      NaN
23793           H0GVNAK   male  NaN       1         0      NaN
23794           H0GVNAK   male  NaN       1         0      NaN
23795           H0GVNAK   male  NaN       1         0      NaN
23796           H0GVNAK   male  NaN       1         0      NaN
23797           H0GVNAK   male  NaN       1         0      NaN
23798           H0GVNAK   male  NaN       1         0      NaN
23799           H0GVNAK   male  NaN       1         0      NaN
23800           H0GVNAK   male  NaN       1         0      NaN
23801           H0GVNAK   male  NaN       1         0      NaN
23802           H0GVNAK   male  NaN       1         0      NaN
23807           U0SUJYS   male  NaN       1         0      NaN
23808           U0SUJYS   male  NaN       1         0      NaN
23809           U0SUJYS   male  NaN       1         0      NaN
23810           U0SUJYS   male  NaN       1         0      NaN
23811           U0SUJYS   male  NaN       1         0      NaN
23892           NVEH79U   male  NaN       1         0      NaN
23893           NVEH79U   male  NaN       1         0      NaN
23912           NGNN39R   male  NaN       1         0      NaN
23913           NGNN39R   male  NaN       1         0      NaN
23914           NGNN39R   male  NaN       1         0      NaN
23915           NGNN39R   male  NaN       1         0      NaN
23926           UZQX5WL   male  NaN       1         0      NaN
23960           JNI5ALO   male  NaN       1         0      NaN
23961           JNI5ALO   male  NaN       1         0      NaN
...                 ...    ...  ...     ...       ...      ...
24314           0FOCFVI   male  NaN       1         0      NaN
24315           0FOCFVI   male  NaN       1         0      NaN
24316           0FOCFVI   male  NaN       1         0      NaN
24317           0FOCFVI   male  NaN       1         0      NaN
24318           0FOCFVI   male  NaN       1         0      NaN
24322           0FOCFVI   male  NaN       1         0      NaN
24324           0FOCFVI   male  NaN       1         0      NaN
24325           0FOCFVI   male  NaN       1         0      NaN
24326           0FOCFVI   male  NaN       1         0      NaN
24327           0FOCFVI   male  NaN       1         0      NaN
24396           WFQZOHO   male  NaN       1         0      NaN
24397           WFQZOHO   male  NaN       1         0      NaN
24417           3UC3NU9   male  NaN       1         0      NaN
24418           3UC3NU9   male  NaN       1         0      NaN
24434           F30RUYT   male  NaN       1         0      NaN
24435           F30RUYT   male  NaN       1         0      NaN
24436           F30RUYT   male  NaN       1         0      NaN
24437           F30RUYT   male  NaN       1         0      NaN
24438           F30RUYT   male  NaN       1         0      NaN
24500           XHXLORT   male  NaN       1         0      NaN
24545           NZH50BZ   male  NaN       1         0      NaN
24566           XFQVCSZ   male  NaN       1         0      NaN
24567           XFQVCSZ   male  NaN       1         0      NaN
24568           XFQVCSZ   male  NaN       1         0      NaN
24569           XFQVCSZ   male  NaN       1         0      NaN
24570           XFQVCSZ   male  NaN       1         0      NaN
24571           XFQVCSZ   male  NaN       1         0      NaN
24572           XFQVCSZ   male  NaN       1         0      NaN
24625           IM7ZTS8   male  NaN       1         0      NaN
24633           BS11M4N   male  NaN       1         0      NaN

                created_at           updated_at
23684  2019-11-19 17:38:08  2019-11-19 17:38:08
23722  2019-11-19 20:08:17  2019-11-19 20:08:17
23789  2019-11-20 02:50:57  2019-11-20 02:50:57
23790  2019-11-20 02:51:00  2019-11-20 02:51:00
23791  2019-11-20 02:51:02  2019-11-20 02:51:02
23792  2019-11-20 02:51:04  2019-11-20 02:51:04
23793  2019-11-20 02:51:07  2019-11-20 02:51:07
23794  2019-11-20 02:51:09  2019-11-20 02:51:09
23795  2019-11-20 02:51:11  2019-11-20 02:51:11
23796  2019-11-20 02:51:13  2019-11-20 02:51:13
23797  2019-11-20 02:51:16  2019-11-20 02:51:16
23798  2019-11-20 02:51:18  2019-11-20 02:51:18
23799  2019-11-20 02:51:20  2019-11-20 02:51:20
23800  2019-11-20 02:51:22  2019-11-20 02:51:22
23801  2019-11-20 02:51:25  2019-11-20 02:51:25
23802  2019-11-20 02:51:27  2019-11-20 02:51:27
23807  2019-11-20 12:25:04  2019-11-20 12:25:04
23808  2019-11-20 12:25:16  2019-11-20 12:25:16
23809  2019-11-20 12:25:40  2019-11-20 12:25:40
23810  2019-11-20 12:27:40  2019-11-20 12:27:40
23811  2019-11-20 12:28:15  2019-11-20 12:28:15
23892  2019-11-21 20:58:55  2019-11-21 20:58:55
23893  2019-11-21 20:59:03  2019-11-21 20:59:03
23912  2019-11-21 22:18:38  2019-11-21 22:18:38
23913  2019-11-21 22:18:40  2019-11-21 22:18:40
23914  2019-11-21 22:18:43  2019-11-21 22:18:43
23915  2019-11-21 22:18:46  2019-11-21 22:18:46
23926  2019-11-21 23:16:42  2019-11-21 23:16:42
23960  2019-11-22 16:06:56  2019-11-22 16:06:56
23961  2019-11-22 16:07:54  2019-11-22 16:07:54
...                    ...                  ...
24314  2019-11-25 20:45:31  2019-11-25 20:45:31
24315  2019-11-25 20:45:37  2019-11-25 20:45:37
24316  2019-11-25 20:45:48  2019-11-25 20:45:48
24317  2019-11-25 20:45:54  2019-11-25 20:45:54
24318  2019-11-25 20:45:58  2019-11-25 20:45:58
24322  2019-11-25 21:57:31  2019-11-25 21:57:31
24324  2019-11-25 22:03:32  2019-11-25 22:03:32
24325  2019-11-25 22:03:59  2019-11-25 22:03:59
24326  2019-11-25 22:04:10  2019-11-25 22:04:10
24327  2019-11-25 22:04:20  2019-11-25 22:04:20
24396  2019-11-26 22:44:21  2019-11-26 22:44:21
24397  2019-11-26 22:46:54  2019-11-26 22:46:54
24417  2019-11-27 04:41:55  2019-11-27 04:41:55
24418  2019-11-27 04:42:04  2019-11-27 04:42:04
24434  2019-11-27 17:32:43  2019-11-27 17:32:43
24435  2019-11-27 17:32:59  2019-11-27 17:32:59
24436  2019-11-27 17:33:15  2019-11-27 17:33:15
24437  2019-11-27 17:33:35  2019-11-27 17:33:35
24438  2019-11-27 17:33:41  2019-11-27 17:33:41
24500  2019-11-28 21:46:27  2019-11-28 21:46:27
24545  2019-11-29 20:34:25  2019-11-29 20:34:25
24566  2019-11-30 12:32:58  2019-11-30 12:32:58
24567  2019-11-30 12:32:59  2019-11-30 12:32:59
24568  2019-11-30 12:33:01  2019-11-30 12:33:01
24569  2019-11-30 12:33:03  2019-11-30 12:33:03
24570  2019-11-30 12:33:04  2019-11-30 12:33:04
24571  2019-11-30 12:33:07  2019-11-30 12:33:07
24572  2019-11-30 12:33:08  2019-11-30 12:33:08
24625  2019-11-30 23:07:44  2019-11-30 23:07:44
24633  2019-11-30 23:52:02  2019-11-30 23:52:02

[99 rows x 8 columns]